fastapi 
uvicorn 
langchain 
langgraph 
langchain-core 
httpx 
python-dotenv 
loguru 
apscheduler 
pydantic 
python-multipart
pydantic-settings
psycopg2-binary
sqlalchemy
openai
requests
tavily-python
pandas
google-generativeai
pymupdf
loguru
groq
ddgs
trafilatura
python-docx